    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!--[if gte IE 11]><!-->
    <link rel="stylesheet" href="/ui/css/styles.css">
    <!-- <![endif]-->
    <!-- <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" sizes="192x192" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-64x64.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" /> -->
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://morin.legal/" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:creator:id" content="" />
    <meta name="twitter:url" content="https://lorincz.legal/" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="" />